<!DOCTYPE html>
<html>
<head>
    <title>Example</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script type="text/javascript">
        var myArray = [100, "Adam", true];
        var undefined;
        console.log("undefined is " + undefined);

    </script>
</head>
<body>
    <p>
        I specified that the myArray variable should be assigned a new array by specifying the items
        I wanted in the array between square brackets ([ and ])
    </p>
</body>
</html>
