<!DOCTYPE html>
<html>
<head>
    <title>Example</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script type="text/javascript">
        var myData = {
            name: "Adam",
            weather: "sunny",
        };

        console.log("Prop: " + myData.doesntexist);
    </script>
</head>
<body>
    <p>
        JavaScript defines a couple of special values that you need to be careful with when you compare them: undefined and
        null. The undefined value is returned when you read a variable that hasn’t had a value assigned to it or try to read an
        object property that doesn’t exist.
    </p>
</body>
</html>
