<!DOCTYPE html>
<html>
<head>
    <title>Example</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script type="text/javascript">
        var myArray = new Array();

        myArray[0] = 100;
        myArray[1] = "Adam";
        myArray[2] = true;
    </script>
</head>
<body>

    <p>
        I have created a new array by calling new Array(). This creates an empty array, which I assign to the variable
        myArray. In the subsequent statements, I assign values to various index positions in the array. (There is no console
        output from this listing.)
    </p>
    <p>
        There are a couple of things to note in this example. First, I didn’t need to declare the number of items in the
        array when I created it. JavaScript arrays will resize themselves to hold any number of items. The second point is that
        I didn’t have to declare the data types that the array will hold. Any JavaScript array can hold any mix of data types. In
        the example, I have assigned three items to the array: a number, a string, and a boolean.
    </p>
</body>
</html>
