<!DOCTYPE html>
<html>
<head>
    <title>Example</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script type="text/javascript">
        console.log(angular.isArray([100, "Adam", true]));
        console.log(angular.isArray("Adam"));
        console.log(angular.isArray(23));
    </script>
</head>
<body>
    <p>
        AngularJS provides the angular.isArray method, which returns true if the argument it is called with is an array
    </p>
</body>
</html>
