<!DOCTYPE html>
<html>
<head>
    <title>Example</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script type="text/javascript">
        var firstVal = 5;
        var secondVal = "5";

        if (firstVal == secondVal) {
            console.log("They are the same");
        } else {
            console.log("They are NOT the same");
        }
    </script>
</head>
<body>
    This is a simple example
    <p>
        JavaScript is converting the two operands into the same type and comparing them. In essence, 
        the <strong>equality operator</strong> tests that values are the same irrespective of their type. 
        If you want to test to ensure that the values and the types are the same, 
        then you need to use the <strong>identity operator</strong> (===, three equals signs, 
        rather than the two of the equality operator)
    </p>
</body>
</html>
