<!DOCTYPE html>
<html>
<head>
    <title>Example</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script type="text/javascript">
        var myArray = [100, "Adam", true];
        console.log("Index 0: " + myArray[0]);

        console.log("....");

        myArray[0] = "Tuesday";
        console.log("Index 0: " + myArray[0]);
    </script>
</head>
<body>
    <p>
        You read the value at a given index using square braces ([ and ]), placing the index you require between the braces
    </p>
    <p>
        You can modify the data held in any position in a JavaScript array simply by assigning a new value to the index.
        Just as with regular variables, you can switch the data type at an index without any problems.
    </p>
</body>
</html>
