<!DOCTYPE html>
<html>
<head>
    <title>Example</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script type="text/javascript">
        var myData1 = (5).toString() + String(5);
        console.log("Result: " + myData1);
    </script>
</head>
<body>
    This is a simple example
    <p>
        Notice that I placed the numeric value in parentheses, and then I called the toString method. This is because
        you have to allow JavaScript to convert the literal value into a number before you can call the methods that the number
        type defines. I have also shown an alternative approach to achieve the same effect, which is to call the String function
        and pass in the numeric value as an argument. Both of these techniques have the same effect, which is to convert a
        number to a string, meaning that the + operator is used for string concatenation and not addition. 
    </p>
    <img src="~/Scripts/Ch05/NumberToString.png" />
</body>
</html>
