<!DOCTYPE html>
<html>
<head>
    <title>Example</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script type="text/javascript">
        var myData1 = 5 + 5;
        var myData2 = 5 + "5";

        console.log("Result 1: " + myData1);
        console.log("Result 2: " + myData2);
    </script>
</head>
<body>
    This is a simple example
    <p>
        The string concatenation operator (+) has a higher precedence than the addition operator (also +), which means that
        JavaScript will concatenate variables in preference to adding.
    </p>
</body>
</html>
