<!DOCTYPE html>
<html>
<head>
    <title>Example</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script type="text/javascript">
        var myData = {
            name: "Adam",
            weather: "sunny"
        };

        console.log("Hello " + myData.name + ". ");
        console.log("Today is " + myData.weather + ".");
    </script>
</head>
<body>
    <p>You can define an object and its properties in a single step using the <strong>object literal</strong> format</p>
    <p>
        Each property that you want to define is separated from its value using a colon (:), and properties are separated using a comma (,)
    </p>
</body>
</html>
