<!DOCTYPE html>
<html>
<head>
    <title>Example</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script type="text/javascript">
        var firstVal = "5";
        var secondVal = "5";

        var result = Number(firstVal) + Number(secondVal);

        console.log("Result: " + result);
    </script>
</head>
<body>
    This is a simple example
    <p>
        The Number method is strict in the way that is parses string values, but there are two other functions you can use
        that are more flexible and will ignore trailing non-number characters. These functions are parseInt and parseFloat.
    </p>
    <img src="~/Scripts/Ch05/StringToNumber.png" />
</body>
</html>
