<!DOCTYPE html>
<html>
<head>
    <title>Example</title>
    @Styles.Render("~/Content/css")
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    
</head>
<body>
    <div id="aa">

    </div>
    <script type="text/javascript">
        var p = document.getElementById('aa');
        p.textContent = "adsfassssssf";
        //document.body.appendChild(p);
    </script>
</body>
</html>