<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Products</title>
    @Styles.Render("~/Content/css")
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/Ch22/products00-initial.js"></script>
    <script src="~/Scripts/Ch22/increment.js"></script>
</head>
<body ng-controller="defaultCtrl">
    <div class="panel panel-primary">
        <h3 class="panel-heading">Products</h3>

        <ng-include src="'/Scripts/Ch22/_tableView-initial.html'" ng-show="displayMode == 'list'"></ng-include>
        <ng-include src="'/Scripts/Ch22/_editorView_initial.html'" ng-show="displayMode == 'edit'"></ng-include>
        @*<ng-include src="'@Url.Action("tableView", "Ch22")'" ng-show="displayMode == 'list'"></ng-include>
        <ng-include src="'@Url.Action("editorView", "Ch22")'" ng-show="displayMode == 'edit'"></ng-include>*@
    </div>
</body>
</html>