<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Products</title>
    @Styles.Render("~/Content/css")
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="~/Scripts/Ch21/products04-rest-update.js"></script>
</head>
<body ng-controller="defaultCtrl">
    <div class="panel panel-primary">
        <h3 class="panel-heading">Products</h3>
        <ng-include src="'/Scripts/Ch21/_tableView.html'" ng-show="displayMode == 'list'"></ng-include>
        <ng-include src="'/Scripts/Ch21/_editorView.html'" ng-show="displayMode == 'edit'"></ng-include>

        @*To call partial view in asp.net mvc5 using angular js, write this way:
            <ng-include src="'@Url.Action("method_name", "Controller_name")'"></ng-include>*@
    </div>
</body>
</html>