<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Controllers</title>
    @Styles.Render("~/Content/css")
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script>
        angular.module("exampleApp", []);
    </script>
</head>
<body>
    <div class="well">
        Content will go here.
    </div>
</body>
</html>