<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Controllers</title>
    @Styles.Render("~/Content/css")
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script>
        angular.module("exampleApp", [])
        .controller("simpleCtrl", function ($scope) {
            $scope.cities = ["London", "New York", "Paris"];
            $scope.city = "London";
            $scope.getCountry = function (city) {
                switch (city) {
                    case "London":
                        return "UK";
                    case "New York":
                        return "USA";
                }
            }
        });
    </script>
</head>
<body ng-controller="simpleCtrl">
    <div class="well">
        <label>Select a City:</label>
        <select ng-options="city for city in cities" ng-model="city"></select>
    </div>
    <div class="well">
        <p>The city is: {{city}}</p>
        <p>The country is: {{getCountry(city) || "Unknown"}}</p>
    </div>
</body>
</html>