<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Controllers</title>
    @Styles.Render("~/Content/css")
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script>
        var app = angular.module("exampleApp", [])
        .controller("simpleCtrl", function () {
            this.dataValue = "Hello, Adam";

            this.reverseText = function () {
                this.dataValue = this.dataValue.split("").reverse().join("");
            }
        });
               
    </script>
</head>
<body>
    <div class="well" ng-controller="simpleCtrl as ctrl">
        <h4>Top Level Controller</h4>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                        ng-click="ctrl.reverseText()">
                    Reverse
                </button>
            </span>
            <input class="form-control" ng-model="ctrl.dataValue">
        </div>
    </div>
</body>
</html>