<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>DOM API Services</title>
    @Styles.Render("~/Content/css")
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script>
        angular.module("exampleApp", [])
        .controller("defaultCtrl", function ($scope, $window) {
            $scope.displayAlert = function (msg) {
                $window.alert(msg);
                //$window.confirm(msg);
            }
        });
    </script>
</head>
<body ng-controller="defaultCtrl" class="well">
    <button class="btn btn-primary" ng-click="displayAlert('Clicked!')">Click Me</button>
</body>
</html>